.descricao{
    background-color: white;
    text-align: center;
}

.descricao__titulo{
    color: #16510D;
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 2.8rem;
    text-shadow: 0 6px 6px rgb(255, 255, 255);
    margin-top: 10px;
}

.descricao__paragrafo{
    font-family: Roboto;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 33px;
    text-align: center;
    color:black;
}